{{ form_start(form) }}
<div class ="form_change" style="margin: 100px auto">
    <div class="row" style="margin-bottom: 20px; background-color: #f7f7f7">
        <div class="col-md-4">{{ form_row(form.title) }}</div>
    </div>
    <div class="row" style="background-color: #f7f7f7; margin-bottom: 50px">
        <div class="col-md-10">{{ form_row(form.description) }}</div>
    </div>
    <div class="row" style="background-color: #f7f7f7; margin-bottom: 50px">
        <div class="col-md-5">{{ form_row(form.url) }}</div>
        <div class="col-md-2">{{ form_row(form.langue) }}</div>
        <div class="col-md-1">{{ form_row(form.level) }}</div>
        <div class="col-md-1">{{ form_row(form.note) }}</div>
        <div class="col-md-2">{{ form_row(form.aviable) }}</div>
    </div>
</div>

{#        pour changer le theme aller sur packages/twig.yaml et taper ça
            form_themes :['nom du theme']
            exemple
            form_themes : ['bootstrap_4_layout.html.twig']
#}
        {{ form_widget(form)}}
<button class="btn btn-primary">{{ button |default('Enregistrer') }}</button>
{{ form_end(form) }}