<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>TechOver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/gremlins.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
    {% block stylesheets %}
    <link rel = "icon" href ="{{ asset('images/logo2.png') }}" type = "image/x-icon">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('css/dark-mode.css') }}">
    {% endblock %}
</head>
<body>



{#

Script pour tester la robustesse du site en exécutant une multitude d’interactions sur l’interface aléatoirement.
<script>
     gremlins.createHorde().unleash();
</script>

Version du même script en Bookmarklet, avec quelques options détaillées.

<a id="bookmarklet" title="gremlins.js" href="
    javascript: (function() {
        function callback() {
         gremlins.createHorde({
             species: [gremlins.species.clicker(), gremlins.species.toucher(), gremlins.species.formFiller(),gremlins.species.scroller(),gremlins.species.typer()],
             mogwais: [gremlins.mogwais.alert(),gremlins.mogwais.fps(),gremlins.mogwais.gizmo()],
             strategies: [gremlins.strategies.distribution()] }).unleash(); }
          var s = document.createElement(&quot;script&quot;);
         s.src = &quot;https://unpkg.com/gremlins.js&quot;; if (s.addEventListener) { s.addEventListener(&quot;load&quot;, callback, false); }
         else if (s.readyState) { s.onreadystatechange = callback; } document.body.appendChild(s); })()">gremlins.js
</a>

#}


<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0px;bottom: auto;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"data-toggle ="collapse" data-target="#monMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <a href="{{ path('home') }}"><img class="navbar-brand imgLogo" src="{{ asset('images/logo1.png') }}" alt="techover"></a>
        </div>
        <div class="collapse navbar-collapse" id="monMenu">
            <ul class="nav navbar-nav navbar-right barPrinci">
                <li><a style="{% if current_menu is defined and current_menu == 'homepage'%}color:#337ab7; {% endif %}" href="{{ path('home') }}">Accueil</a> </li>
                <li><a style="{% if current_menu is defined and current_menu == 'categories'%}color:#337ab7; {% endif %}" href="{{ path('categorie.route') }}">Categories</a> </li>
                <li><a style="{% if current_menu is defined and current_menu == 'formations'%}color:#337ab7; {% endif %}" href="{{ path('formation.route') }}">Formations</a> </li>
                <li><a style="{% if current_menu is defined and current_menu == 'informations'%}color:#337ab7; {% endif %}" href="{{ path('informations') }}">Qui sommes nous</a> </li>
                <li class="custom-control custom-switch" style="margin:15px;display: flex !important;">
                    <label class="switch">
                        <input type="checkbox" id="darkSwitch">
                        <span class="slider round"></span>
                    </label>
                </li>

            </ul>

        </div>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}





<script src="{{ asset('javascript/dark-mode-switch.min.js') }}"></script>


<!-- Footer -->
<footer class="page-footer font-small blue pt-4 footer-ecrites">

    <!-- Footer liens -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row" style="background-color:#292d2d">

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="container">
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
                <!-- liens -->
                <h5 class="text-uppercase" style="font-size: 25px">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="http://tiny.cc/abouttechover" target="_blank">45 rue des Saints-Pères 75006 Paris
                        </a>
                    </li>
                    <li>
                        <a href="mailto:techover@techOver.com">techOver@techOver.com</a>
                    </li>
                    <li class="liens-bloques">
                        +1 23 45 67 89
                    </li>
                    <li class="liens-bloques">
                        +6 23 45 67 89
                    </li>
                </ul>
            </div>

            <div class="container">
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
                <!-- Liens -->
                <h5 class="text-uppercase" style="font-size: 25px">Liens</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.udemy.com/?utm_source=adwords-brand&utm_medium=udemyads&utm_campaign=NEW-AW-PROS-Branded-Search-FR-FRA_._ci__._sl_FRA_._vi__._sd_All_._la_FR_._&tabei=7&utm_term=_._ag_52142199346_._ad_254041601034_._de_c_._dm__._pl__._ti_kwd-310556426868_._li_9056527_._pd__._&gclid=Cj0KCQjwmpb0BRCBARIsAG7y4zbWagwMcse-ia0YxrdVH4LAxLN28MO_pZ0LVS_OaBcVsb3Nhs_28rsaAnpSEALw_wcB" target="_blank">Udemy
                        </a>
                    </li>

                    <li>
                        <a href="https://www.coursera.org/" target="_blank">Coursera</a>
                    </li>

                    <li class="liens-bloques">
                        <a href="https://www.jidu.ai/" target="_blank">Start-up Jidu</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
    <!-- Footer Links -->

    </div>
    <div class="footer-copyright text-center py-3 row footer-ecrites" style="padding:30px 0;margin-right: 0px;margin-left: 0px;">© 2020 Copyright: TechOver Jidu
    </div>


</footer>
<!-- Footer -->
</body>
</html>